@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  --bg-color: #f5f5f5;
  --text-color: #333;
  --header-bg: rgba(255, 255, 255, 1);
  --header-text: #000;
  --nav-link-color: #666;
  --nav-link-color-active: #000;
  --nav-link-hover: #000;
  --map-height: 100vh;
  --card-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  --font-main: 'Cormorant', serif;
}

body {
  font-family: var(--font-main);
  color: var(--text-color);
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

/* Шапка */
.site-header {
  position: relative;
  z-index: 1000;
  padding: 2rem;
  margin-bottom: 2rem;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo a {
  font-family: var(--font-main);
  font-size: 18px;
  color: var(--header-text);
  text-decoration: none;
  font-style: italic;
}

.main-nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav a {
  font-family: var(--font-main);
  text-decoration: none;
  color: var(--nav-link-color);
  font-size: 1.25rem;
}

.main-nav a:hover {
  color: var(--nav-link-hover);
}

.nav-link.active {
  text-decoration: none;
  color: var(--nav-link-color-active)!important;
}

/* Галерея фотографий */
.photo-gallery {
  padding: 0 32px;
}


.photo-card {
  padding: 8px;
  background: #fff;
  font-family: var(--font-main);
  color: black;
  text-decoration: none;
  display: block;
  border-radius: 0px;
  transition: 0.2s ease;
}

.photo-card:hover {
  box-shadow: var(--card-shadow);
  color: black;
  text-decoration: none;
}

.photo-card img {
  width: 100%;
  height: auto;
  border-radius: 00px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.photo-info {
  padding: 8px 0;
}

.photo-info h3 {
  font-size: 1.25rem;
  margin: 0 0 4px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.photo-info p {
  font-size: 1rem;
  color: #888;
  margin: 0;
}

/* Шапка - главная */
.site-header-main {
  position: fixed;
  z-index: 1000;
  padding: 1.5rem 2rem 1rem 2rem;
  left: 32px;
  background: var(--header-bg);
  max-width: 500px;
  width: 100%;
}

.header-inner-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-inner-main .main-nav {
  margin-left: -1rem;
}

.header-inner-main .main-nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0px 0px 0 0;
}

.site-header-main .main-nav li {
  margin-right: 20px;
}

.site-header-main .main-nav a {
  font-family: var(--font-main);
  text-decoration: none;
  color: var(--nav-link-color);
  font-size: 1.25rem;
}

.site-header-main .main-nav a:hover {
  color: var(--nav-link-hover);
}

/* Основной контент */
.main-wrapper {
  display: flex;
  height: var(--map-height);
  width: 100%;
}

.map-column {
  flex: 1;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

.cards-column {
  width: 300px;
  height: 100%;
  overflow-y: auto;
  background-color: var(--header-bg);
  box-shadow: var(--card-shadow);
}

.media-list {
  padding: 20px;
}

.media-card {
  display: block;
  margin-bottom: 15px;
  text-decoration: none;
  color: inherit;
}

.media-card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.media-card-info {
  padding: 10px 0;
}

.media-title {
  font-family: var(--font-main);
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.media-date {
  font-family: var(--font-main);
  font-size: 14px;
  color: #888;
}

/* Кастомные маркеры для карты */
.custom-marker {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-img-wrap {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
}

/* Карточка рядом с маркером */
.marker-card {
  position: absolute;
  z-index: 1000;
  background: white;
  padding: 8px;
  border-radius: 0px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  max-width: 250px;
  display: none;
  font-family: var(--font-main);
  font-size: 1rem;
}

.marker-card img {
  width: 100%;
  border-radius: 0px;
}

.marker-card .media-title {
  font-weight: bold;
  margin: 5px 0;
  font-size: 1.5rem;
}

.marker-card .media-date {
  color: #666;
  font-size: 14px;
  font-size: 1rem;
}

/* Общие стили */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Карта */
.map-wrapper {
  width: 100%;
  height: var(--map-height);
}

#map {
  width: 100%;
  height: 100%;
}

/* Стили для маркеров */
.cluster-marker .cluster-count-only {
  background-color: #ccc;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.25rem;
  font-family: 'Cormorant', serif;
}

/* Минималистичный стиль для кнопок масштаба */
.leaflet-control-zoom {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 4px!important;
  border: none !important;
}

.leaflet-bar a {
  border: none !important;
}

.leaflet-control-zoom a {
  color: #333;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  width: 24px;
  height: 24px;
  margin: 2px;
}

.leaflet-control-zoom a:hover {
  background: rgba(240, 240, 240, 0.7);
}

.leaflet-control-attribution {
  display: none !important;
}

/* Шапка */
footer {
  position: relative;
  z-index: 1000;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav a {
  font-family: var(--font-main);
  text-decoration: none;
  color: var(--nav-link-color);
  font-size: 1rem;
}

.footer-nav a:hover {
  color: var(--nav-link-hover);
}